<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Bootstrap</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#" routerLink="">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/hello">Hello</a>
        </li>
      </ul>
      <span class="navbar-text">
        Probando Bootstrap en mi pagina web
      </span>
    </div>
  </div>
</nav>

<!--ul>
  <li><a routerLink="/about">About</a></li>
  <li><a routerLink="/hello">Hello</a></li>
</ul-->

<router-outlet></router-outlet>

<div class="black">
  <h1> {{ title }} </h1>
</div>
<div class="ash">
  <h2>{{ name }}</h2>
  <h2>{{ email }}</h2>

  <button (click)="toggleHobbies()" class="btn">Mostrar Hobbies</button>
  <div *ngIf="showHobbies" class="component2">
    <h3>hobbies:</h3>
    <ul>
      <li *ngFor="let hobby of hobbies">{{ hobby }}</li>
    </ul>
  </div>
  <a href="{{ webpage }}" target="_blank">Visita mi sitio Web</a>
</div>
<div class="black">
  <h1> {{ title }} </h1>
</div>

<form (submit)="newHobby(hobby)">
  <input #hobby type="text" placeholder="hobby">
</form>

<app-hello-world>Aqui</app-hello-world>

<ul>
  <li *ngFor="let user of users">
    <app-user [nameUser]="user"></app-user>
  </li>
</ul>

<button (click)="sayHello()">Hazme click</button>


<h1> Desde app.component</h1>
<form (submit)="addUser(newUser)">
  <input type="text" #newUser>
  <button>Agregar Usuario</button>
</form>
<ul>
  <li *ngFor="let user of users">
    {{ user }} <button (click)="deleteUser(user)">Borrar Usuario</button>
  </li>
</ul>

<div>
  <form>
    <input typr="text" name="name" [(ngModel)]="name">
    <input typr="text" name="age" [(ngModel)]="age">
  </form>
  <h2>Name: {{ name }}</h2>
  <h2>Age: {{ age }}</h2>
</div>


<div class="black">
  <h1> {{ title }} </h1>
</div>

<div class="ash" *ngFor="let post of posts">
  <h2>{{ post.title }}</h2>
  <h4>{{ post.body }}</h4>
</div>

<app-video-list></app-video-list>


<h2>Carrusel de arte de VideoJuegos</h2>
<div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://cloudfront-eu-central-1.images.arcpublishing.com/diarioas/OJ4UBO7R4JJX7DW63OVWVWGZRU.png" class="d-block w-100" alt="..." width="400">
    </div>
    <div class="carousel-item">
      <img src="https://i.blogs.es/b929e9/uncharted4/1366_2000.jpeg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://i.blogs.es/2e090b/the-last-of-us-part-ii-remastered-analisis/840_560.jpeg" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>